:root {
    --blueGradient: linear-gradient(
        233deg,
        rgba(106, 139, 253, 1) 10%,
        rgba(47, 73, 255, 1) 54%,
        rgba(26, 39, 185, 1) 81%
    );
    --ballGradient: radial-gradient(
        circle,
        rgba(57, 57, 57, 1) 40%,
        rgba(22, 22, 22, 1) 100%
    );
}

body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

#ball-container {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    background: var(--ballGradient);
}

.ballFadeOut {
    animation: ballFadeOut 3s;
}
.ballFadeIn {
    animation: ballFadeIn 3s;
}

.shake {
    animation: shake 2s;
}

#ball_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 254, 241);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 4rem;
}
#logo_text {
    color: rgb(29, 29, 29);
}
.logoShrink {
    animation-name: logoShrink;
    animation-duration: 3s;
}

#ball_inner-circle {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 240px;
    height: 240px;
    background-color: rgb(14, 0, 15);
    border-style: solid;
    border-color: rgb(31, 31, 31);
    border-width: 6px;
}
.innerGrow {
    animation-name: innerCircleGrow;
    animation-duration: 3s;
}

#inner-circle_triangle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 130px;
    width: 150px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background: var(--blueGradient);
    margin-bottom: 20px;
}
.triangleGrow {
    animation-name: triangleGrow;
    animation-duration: 3s;
}

.fadeIn {
    animation: fadeIn 1s;
}
.fadeOut {
    animation: fadeOut 1s;
}

#triangle_text {
    position: absolute;
    text-align: center;
    overflow-y: visible;
    width: 70px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100%;
}

#fortuneText {
    color: #c6e9ff;
    font-size: 0.7rem;
    top: 0;
    margin-top: 30px;
    margin-bottom: 0px;
    text-shadow: -1px 2px 1px rgba(30, 54, 128, 0.6);
}
.fortuneGrow {
    animation-name: fortuneGrow;
    animation-duration: 3s;
}

#fortuneText-description {
    color: white;
    font-size: 20px;
}

#resetButton {
    z-index: 2;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: rgb(61, 61, 61);
    width: 50px;
    height: 50px;
}

.fa-solid {
    font-size: 20px;
    color: #e7f6ff;
    text-shadow: -1px 2px 1px rgba(6, 12, 28, 30%);
}

@keyframes fadeIn {
    0% {
        height: 115px;
        width: 135px;
        opacity: 0%;
    }
    95% {
        height: 130px;
        width: 150px;
        opacity: 100%;
    }
    100% {
        height: 130px;
        width: 150px;
        opacity: 100%;
    }
}
@keyframes fadeOut {
    0% {
        height: 130px;
        width: 150px;
        opacity: 100%;
    }
    95% {
        height: 115px;
        width: 135px;
        opacity: 0%;
    }
    100% {
        height: 115px;
        width: 135px;
        opacity: 0%;
    }
}

@keyframes shake {
    0% {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    20% {
        margin-bottom: 20px;
        margin-left: 50px;
    }
    40% {
        margin-left: -50px;
    }
    100% {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
}

@keyframes ballFadeOut {
    0% {
        width: 400px;
        height: 400px;
        opacity: 100%;
    }
    95% {
        width: 200px;
        height: 200px;
        opacity: 0%;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 0%;
    }
}
@keyframes ballFadeIn {
    0% {
        width: 200px;
        height: 200px;
        opacity: 0%;
    }
    95% {
        width: 400px;
        height: 400px;
        opacity: 100%;
    }
    100% {
        width: 400px;
        height: 400px;
        opacity: 100%;
    }
}

@keyframes logoShrink {
    0% {
        width: 200px;
        height: 200px;
        font-size: 4rem;
    }
    100% {
        width: 100px;
        height: 100px;
        font-size: 2rem;
    }
}

@keyframes innerCircleGrow {
    0% {
        width: 120px;
        height: 120px;
    }
    100% {
        width: 240px;
        height: 240px;
    }
}
@keyframes triangleGrow {
    0% {
        height: 65px;
        width: 75px;
    }
    100% {
        height: 130px;
        width: 150px;
    }
}
@keyframes fortuneGrow {
    0% {
        font-size: 0.5rem;
    }
    100% {
        font-size: 0.7rem;
    }
}
